:root {
  --primary-color: #212529;
  --secondary-color: #82868b;
  --success-color: #88B267;
  --danger-color: #CF5B5B;
  --warning-color: #F39C12;
  --info-color: #5DBED3;
  --dark-color: #484848;
  --light-color: #FFFFFF;

  --bs-primary: #1A1B1C;
  --bs-secondary: #6c757d;
  --bs-success: #88B267;
  --bs-info: #5DBED3;
  --bs-warning: #F39C12;
  --bs-danger: #CF5B5B;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;

  --bs-primary-rgb: 26, 27, 28;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 136, 178, 103;
  --bs-info-rgb: 93, 190, 211;
  --bs-warning-rgb: 243, 156, 18;
  --bs-danger-rgb: 207, 91, 91;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;

  --sidebar-width: 260px; 
  --topbar-height: 60px; 
  --sidebar-bg: #222323;
  --sidebar-text-color: rgba(255, 255, 255, 0.75);
  --sidebar-text-hover-color: #fff;
  --sidebar-active-bg: rgba(255, 255, 255, 0.1);
  --sidebar-active-border-color: var(--success-color);
}