body {
  font-family: Arial, sans-serif;
  background: #ffffff;
  padding: 20px;
}

.receipt {
  max-width: 400px;
  margin: auto;
  background: #ffffff;
  border: 1px solid #a29f9f;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #a29f9f;
}

.description {
  width: 95%;
  height: 60px;
  margin: 10px 0;
  padding: 10px;
  font-size: 13px;
  border: 1px solid #a29f9f;
  border-radius: 8px;
  resize: none;
}

.bill-title {
  text-align: center;
  margin: 16px 0 4px;
  font-weight: bolder 500;
}

.bill-meta {
  text-align: center;
  font-size: 13px;
  color: #000;
  margin-bottom: 10px;
  margin-top: -8px;
}

.bill-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  margin-bottom: 10px;
}

.bill-table thead {
  border-bottom: 1px dotted #000;
}

.bill-table th,
.bill-table td {
  text-align: left;
  padding: 4px 8px;
}

.product-name td {
  font-weight: bold;
  padding-top: 10px;
}

.totals {
  font-size: 14px;
  margin-top: 10px;
  border-top: 1px dotted #000;
}

.totals p {
  display: flex;
  justify-content: space-between;
  margin: 2px 0;
}

.total {
  font-weight: bold;
}

.qr-code {
  text-align: center;
  margin-top: 16px;
}

.qr-code img {
  width: 100px;
  height: 100px;
}

.small-text {
  font-size: 12px;
  margin-top: 4px;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
  color: #a29f9f;
}
