:root {
    --color-black: #000000;
    --color-gray: #A29F9F;
    --color-blue: #4B6BE2;
    --color-white: #FFFFFF;
    --color-yellow: #FFF301;
    --color-light-pink: #FFFBFB;
    --color-light-gray: #D9D9D9;
    --color-green: #66DC62;
    --color-red: #DC6262;
    --color-very-light-gray: #F5F5F5;
  }
  